<div class="field {% if field.field.widget.input_type == 'checkbox' %}field-check{% endif %}">
  {% if field.field.widget.input_type == 'checkbox' %}
    {{ field }} <label for="{{ field.id_for_label }}">{{ field.label }}</label>
  {% else %}
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>{{ field }}
  {% endif %}
  {% if field.help_text %}<small>{{ field.help_text|safe }}</small>{% endif %}
  {% for error in field.errors %}<div class="field-error">{{ error }}</div>{% endfor %}
</div>
